<hi><%- messages() %></hi>
<body>
<div class="login">
    <form>
    <label for="account_email">Email</label>
    <input type="email" name="account_email" id="account_email" required`>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    <label for="account_password">Password</label>
    <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <input type="submit" value="Submit">
    <input type="hidden" name="action" value="login">
    <a title="Click here to register!" href="/account/register">Register</a>
</form>
</div>
</body>