<div class="container">
<h1>Welcome to PHP motors!</h1>
    <div class = "delorean">
        <h2>DMC Delorean</h2>
        <p>3 Cup Holders!</p>
        <p>Superman Doors!</p>
        <p>Fuzzy Dice!</p>
    </div>
        <img src = "/images/site/own_today.png" alt = "banner own today">
    <div class="car">
        <img src = "/images/vehicles/delorean.jpg" alt = "a car">
    </div>
        <h2>Dolorean Upgrades:</h2>
    <div class="mainbox">
    <div class="left">
    <div class = "upgrade1">
        <img src = "/images/upgrades/bumper_sticker.jpg" alt = "bumper sticker">
        <h3>Bumpber Stickers</h3>
        <img src = "/images/upgrades/flame.jpg" alt = "flames">
        <h3>Flame Decals</h3>
    </div>
    <div class = "upgrade2">
        <img src = "/images/upgrades/flux-cap.png" alt = "flux cap">
        <h3>Flux Capacitator</h3>
        <img src = "/images/upgrades/hub-cap.jpg" alt = "hub cap">
        <h3>Hub Caps</h3>
    </div>
    </div>
    <div class = "right">
        <h2>DMC Delorean Reviews</h2>
        <h3>"So fast, it's almost like travelling in time." (4/5)</h3>
        <h3>"Coolest car on the road!" (4/5)</h3>
        <h3>"I'm feeling Marty McFly!" (5/5)</h3>
        <h3>"The most futuristic car of today!" (4.5/5)</h3>
        <h3>"80's livin and I love it!" (5/5)</h3>
    </div>
</div>
</div>