<hi><%- messages() %></hi>
<body>
  <div class="classification">
    <form action="/inv/add-inventory" method="post">
      <label for="inv_make">Make</label>
      <input type="text" name="inv_make" id="inv_make" required />
      <label for="inv_model">Model</label>
      <input type="text" name="inv_model" id="inv_model" required />
      <label for="inv_year">Year</label>
      <input type="text" name="inv_year" id="inv_year" required />
      <label for="inv_description">Description</label>
      <input type="text" name="inv_description" id="inv_description" required />
      <label for="inv_image">Image</label>
      <input type="text" name="inv_image" id="inv_image"/>
      <label for="inv_thumbnail">Thumbnail</label>
      <input type="text" name="inv_thumbnail" id="inv_thumbnail"/>
      <label for="inv_price">Price</label>
      <input type="text" name="inv_price" id="inv_price" required />
      <label for="inv_miles">Miles</label>
      <input type="text" name="inv_miles" id="inv_miles" required />
      <label for="inv_color">Color</label>
      <input type="text" name="inv_color" id="inv_color" required />
      <label for="classification_id"></label>
      <input type="submit" value="Add Vehicle" />
      <input type="hidden" name="action" value="Add Vehicle" />
    </form>
  </div>
</body>
