<hi><%- messages() %></hi>


<body>
  <div class="addClassification">
    <form action="/inventory/add-classicfication" method="post">
      <label for="classification">Add a Classification Name!</label>
      <input type="text" name="classification_name" id="classification_name" required />
      <input type="submit" value="Add Classification" />
      <input type="hidden" name="action" value="Add Classification" />
      <span>There cannot be any spaces or special characters.</span>
    </form>
  </div>
</body>
