<hi><%- messages() %></hi>
<body>
    <div class="classification">
    <form action="/inventory/add-inventory" method="post">
        <label for="inv_make">Make</label>
        <input type="text" name="inv_make" id="inv_make" required>
        <label for="inv_model">Model</label>
        <input type="text" name="inv_model" id="inv_model" required>
        <label for="inv_year">Year</label>
        <input type="text" name="inv_year" id="inv_year" required>
        <label for="inv_description">Description</label>
        <input type="text" name="inv_description" id="inv_description"required>
        <label for="inv_image"></label>
        <input type="text" name="inv_image" id="inv_image" required>
        <label for="inv_thumbnail">Thumbnail</label>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" required>
        <label for="inv_price"></label>
        <input type="text" name="inv_price" id="inv_price" required>
        <label for="inv_miles"></label>
        <input type="text" name="inv_miles" id="inv_miles" required>
        <label for="inv_color"></label>
        <input type="text" name="inv_color" id="inv_color" required>
        <label for="classification_id"></label>
        <input type="submit" value="Add classification">
        <input type="hidden" name="action" value="classification">
    </form>
    </div>
</body>