<!--THIS HANDLES ALL THE INVENTORY-->

<hi><%- messages() %></hi>
  <div id="classification">
    <a title="Click to add inventory" href="/inv/add-classification">Add New Classification</a>
  </div>
  <div id="inventory">
    <a title="Click to add inventory" href="/inv/add-inventory">Add New Inventory</a>
  </div>

