<hi><%- messages() %></hi>
<h2>Add a Review!</h2>
<body>
    <div class="reviews">
        <form action="/inv/reviews" method="post">
            <textarea id="reviews" name="reviews" rows="4" cols="30"></textarea>
                <input type="submit" value="Submit">
        </form>
    </div>
</body>
